@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,300);
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  @apply bg-bg text-fg underline-offset-4;
}

p {
  @apply leading-7;
}
.hyperlink {
  text-decoration: none;
  font-weight: 500;
  transition: color 0.15s ease;
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
  text-underline-offset: 0.25em;
  &:hover {
    color: #429cf6;
    text-decoration-thickness: 0.12em;
    font-weight: bold;
  }
}

.max-w {
  max-width: 82.5rem;
}