---
import Layout from "../Layouts/Layout.astro";
---

<Layout title="John Zeng" section="About">
  <p>
    Hi! I am a Junior at Purdue University studying Computer Science and
    Artificial Intelligence. I spend most of my time doing research at the
    Digital Enterprise Center for Industry 4.0. My current project involves
    integrating with automated tools and computer vision for assembly
    verification and comprehensive data collection. In my free times, I enjoy pc
    gaming and playing as a prop (and more recently a winger :D) for <a
      class="hyperlink"
      href="https://www.instagram.com/purduemensrugby/?hl=en"
      target="_blank">Purdue Men's Rugby</a
    >.
    <br />
    <br />
    Contact me at <span class="italic">zeng261 [at] purdue [dot] edu</span>. <br
    /> Find my resume <a
      href="https://github.com/JLZ22/Resume/blob/main/John_Zeng_Resume.pdf"
      target="_blank"
      class="hyperlink">here</a
    >!
  </p>
</Layout>
