---
import Layout from "@layouts/Layout.astro";
---

<Layout title="John Zeng" section="About">
  <p>
    Hey! I am a Senior at Purdue University studying Computer Science and
    Artificial Intelligence. I spend much of my time working in Dr. Yexiang Xue's research group which heavily focuses on
    neuro-symbolic reasoning. My research interest is reinforcement learning and how that can be applied to general task adaptation. Currently, I am working on a meta-RL action-planning strategy
    called Hypothesis Network Planned Exploration which is further explained in
    my
    <a class="hyperlink" href="/research"> research section</a>. In my free
    times, I enjoy riding my Ninja300 and playing as a prop (and, on special occasions, a winger
    :D) for <a
      class="hyperlink"
      href="https://www.instagram.com/purduemensrugby/?hl=en"
      target="_blank">Purdue Men's Rugby</a
    >. My teammates call me Big John as there are a great deal of John's on our
    team.
    <br />
    <br />
    Contact me at <span class="italic">zeng261 [at] purdue [dot] edu</span>. <br
    /> Find my resume <a
      href="https://docs.google.com/document/d/14YRDYAFtbHUSDQypfHOl0DftPBOs5eA1EJ0smeHxPhs/edit?usp=sharing"
      target="_blank"
      class="hyperlink">here</a
    >!
  </p>
  <!-- <div class="my-16 text-center">
    .&nbsp;&nbsp;&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;&nbsp;.
  </div> -->
  <!-- <p>
    . . . a silly story for those who are interested . . . In spring of 2021, I
    took a compilers class offered by my highschool (looking back it's crazy
    that we had a compilers course). To my surprise, I actually wasn't doing too
    bad until about four weeks before the end of the term. One of our
    assignments was to write the recursive fibonacci function in MIPS assembly,
    and for some reason, I just couldn't wrap my head around it.
    <br /><br />
    After a few days of minimal progress, it struck me. I'm in a compilers class!
    As you might guess, our semester project was to build a simple pascal compiler
    with <span class="italic">RECURSION</span>
    and <span class="italic">INTEGER OPERATIONS</span>. So, with the fibonacci
    assignment due in a matter of days, I did what anyone would do and got to
    work on the Pascal compiler (mind you this wasn't due until the end of the
    semester). Long story short, the MIPS file I submitted was over a thousand
    lines long, and she found out immediately. But, I still did end up with a
    45/50 on the assignment. +45 for originality and taking the harder way out
    lol.
  </p> -->
</Layout>
