---
import Layout from "@layouts/Layout.astro";
---

<Layout title="John Zeng" section="About">
  <p>
    Hey! I am a Junior at Purdue University studying Computer Science and
    Artificial Intelligence. I spend most of my time at the Digital Enterprise
    Center's research testbed working under Dr. Hartman and alongside <a
      href="https://www.linkedin.com/in/luca-mcallister-880009221/"
      class="hyperlink">Luca McAllister</a
    >. My current project involves integrating with automated tools and computer
    vision for assembly verification and comprehensive data collection. In my
    free times, I enjoy pc gaming and playing as a prop (and more recently a
    winger :D) for <a
      class="hyperlink"
      href="https://www.instagram.com/purduemensrugby/?hl=en"
      target="_blank">Purdue Men's Rugby</a
    >.
    <br />
    <br />
    Contact me at <span class="italic">zeng261 [at] purdue [dot] edu</span>. <br
    /> Find my resume <a
      href="https://github.com/JLZ22/Resume/blob/main/John_Zeng_Resume.pdf"
      target="_blank"
      class="hyperlink">here</a
    >!
  </p>
  <div class="my-16 text-center">
    .&nbsp;&nbsp;&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;&nbsp;.
  </div>
  <p>
    . . . a silly story for those who are interested . . . In spring of 2021, I
    took a compilers class offered by my highschool (looking back it's crazy
    that we had a compilers course). To my surprise, I actually wasn't doing too
    bad until about four weeks before the end of the term. One of our
    assignments was to write the recursive fibonacci function in MIPS assembly,
    and for some reason, I just couldn't wrap my head around it.
    <br /><br />
    After a few days of minimal progress, it struck me. I'm in a compilers class!
    As you might guess, our semester project was to build a simple pascal compiler
    with <span class="italic">RECURSION</span>
    and <span class="italic">INTEGER OPERATIONS</span>. So, with the fibonacci
    assignment due in a matter of days, I did what anyone would do and got to
    work on the Pascal compiler (mind you this wasn't due until the end of the
    semester). Long story short, the MIPS file I submitted was over a thousand
    lines long, and she found out immediately. But, I still did end up with a
    45/50 on the assignment. +45 for originality and taking the harder way out
    lol.
  </p>
</Layout>
