---
import { getCollection } from "astro:content";
import { orderCollectionEntries } from "@resources/utils.ts";
import Layout from "@layouts/Layout.astro";
import Project from "@components/Project.astro";

const allProjects = await getCollection("project");

const projectOrder = [
  "Rugby Infinite Passing",
  "Git Tutorial",
  "Pascal Compiler",
  "Pacman with Gridworld",
];

orderCollectionEntries(allProjects, projectOrder); 
---

<Layout title="John's Projects" section="Personal Projects">
  <div class="space-y-10 mt-10">
    {allProjects.map((project) => <Project project={project} />)}
  </div>
</Layout>
