---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Project from "@components/Project.astro";
import { orderCollectionEntries } from "@resources/utils";

const allResearch = await getCollection("researchProject");
const researchOrder = [
  "Hypothesis Planned Exploration", 
  "Assembly Digital Thread"
];

orderCollectionEntries(allResearch, researchOrder); 
---

<Layout title="John's Research" section="Research">
  <div class="mt-10 space-y-10">
    {allResearch.map((proj) => <Project project={proj}/> )}
  </div>
</Layout>
