---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import ResearchProject from "@components/ResearchProject.astro";
import { orderCollectionEntries } from "@resources/utils";

const allResearch = await getCollection("researchProject");
const researchOrder = ["Assembly Verification (DEC)"];

orderCollectionEntries(allResearch, researchOrder); 
---

<Layout title="John's Research" section="Research">
  <div class="mt-10 space-y-10">
    {allResearch.map((proj) => <ResearchProject researchProject={proj}/> )}
  </div>
</Layout>
