---
import Layout from "../Layouts/Layout.astro";
---

<Layout title="John's Research" section="Research">
    <p>
        I am currently working on a project at the Digital Enterprise Center for Industry 4.0. My current project involves integrating with automated tools and computer vision for assembly verification and comprehensive data collection.
    </p>
</Layout>