<!-- Hamburger Menu -->
<button id="menu-button" aria-expanded="false" aria-controls="menu">
  <span class="mb-1 block h-1 w-6 bg-indigo-200"></span>
  <span class="mb-1 block h-1 w-6 bg-indigo-200"></span>
  <span class="block h-1 w-6 bg-indigo-200"></span>
</button>
