---
import Icon from "astro-iconify";

interface props {
  name: string;
  link: string;
  width: number;
}

const { name, link, width } = Astro.props as props;
---

  <a href={link} target="_blank">
    <Icon
      name={name}
      width={width}
      height={width}
      class="hover:text-theme transition-all ease-linear hover:scale-125"
    />
  </a>
