---
import Icon from "astro-iconify";

interface props {
  name: string;
  link: string;
  width?: number;
  target?: string;
}

const { name, link, width, target } = Astro.props as props;
---

  <a href={link} target={target ? target : "_blank"}>
    <Icon
      name={name}
      width={width ? width : 40}
      class="hover:text-theme transition-all ease-linear hover:scale-125"
    />
  </a>
