---
import Icon from "astro-iconify";

interface props {
  name: string;
  link: string;
  width: number;
}

const { name, link, width } = Astro.props;
---

<div class="group relative">
  <a href={link} target="_blank" class="relative">
    <Icon
      name={name}
      width={width}
      height={width}
      class="hover:text-theme mb-4 ml-4 mr-4 mt-4 transition-all ease-linear hover:scale-125"
    />
  </a>
</div>
