---
import Blockquote from "./markdown/Blockquote.astro";
import Figure from "./markdown/Figure.astro";
import H1 from "./markdown/H1.astro";
import H2 from "./markdown/H2.astro";
import H3 from "./markdown/H3.astro";
import Hr from "./markdown/Hr.astro";
import Image from "astro/components/Image.astro";
import Link from "./markdown/Link.astro";
import OrderedList from "./markdown/OrderedList.astro";
import UnorderedList from "./markdown/UnorderedList.astro";
import ProjectHeader from "./ProjectHeader.astro";
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

interface Props {
  project: CollectionEntry<"project" | "researchProject">;
}

const { project } = Astro.props as Props;
const title = project.data.title;
const dateRange = project.data.dateRange;
const technologies = project.data.technologies;
const link = project.data.link;
const { Content } = await render(project);
---

<div>
  <ProjectHeader
    title={title}
    dateRange={dateRange}
    link={link}
    technologies={technologies}
  />
  <div
    class="markdown-body my-2 flex flex-col gap-y-4 border-l px-2 md:border-x-0 md:px-0"
  >
    <Content
      components={{
        a: Link,
        ul: UnorderedList,
        ol: OrderedList,
        h1: H1,
        h2: H2,
        h3: H3,
        hr: Hr,
        img: Image,
        blockquote: Blockquote,
        figure: Figure,
      }}
    />
  </div>
</div>
