---
import Blockquote from "./MarkdownComponents/Blockquote.astro";
import Figure from "./MarkdownComponents/Figure.astro";
import H1 from "./MarkdownComponents/H1.astro";
import H2 from "./MarkdownComponents/H2.astro";
import H3 from "./MarkdownComponents/H3.astro";
import Hr from "./MarkdownComponents/Hr.astro";
import Image from "astro/components/Image.astro";
import Link from "./MarkdownComponents/Link.astro";
import OrderedList from "./MarkdownComponents/OrderedList.astro";
import UnorderedList from "./MarkdownComponents/UnorderedList.astro";
import ProjectHeader from "./ProjectHeader.astro";
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

interface Props {
  project: CollectionEntry<"project">;
}

const { project } = Astro.props as Props;
const title = project.data.title;
const dateRange = project.data.dateRange;
const technologies = project.data.technologies;
const link = project.data.link;
const { Content } = await render(project);
---

<div>
  <ProjectHeader title={title} dateRange={dateRange} link={link} />
  {
    technologies ? (
      <div class="mb-2">
        [&nbsp;<span class="text-lg">
          {technologies}
        </span>&nbsp;]
      </div>
    ) : null
  }
  <div class="markdown-body border-l px-2 md:border-x-0 md:px-0 ">
    <Content
      components={{
        a: Link,
        ul: UnorderedList,
        ol: OrderedList,
        h1: H1,
        h2: H2,
        h3: H3,
        hr: Hr,
        img: Image,
        blockquote: Blockquote,
        figure: Figure,
      }}
    />
  </div>
</div>
