---
import ProjectHeader from "./ProjectHeader.astro";
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

interface Props {
  project: CollectionEntry<"project">;
}

const { project } = Astro.props as Props;
const title = project.data.title;
const dateRange = project.data.dateRange;
const technologies = project.data.technologies;
const link = project.data.link;
const { Content } = await render(project);
---

<a href={link} target="_blank">
  <div
    class="hover:scale-102 mt-4 rounded-md border border-slate-400 p-4 transition-all ease-in-out hover:bg-slate-700"
  >
    <ProjectHeader title={title} dateRange={dateRange} />

    <div class="">
      [&nbsp;<span class="text-lg">
        {technologies}
      </span>&nbsp;]
    </div>
    <br />

    <Content />
  </div>
</a>
