---
import IconRef from "./IconRef.astro";

interface Props {
  title: string;
  dateRange: string;
  link?: string;
}

const { title, dateRange, link } = Astro.props as Props;
---

<div class="md:border-b py-1.5">
  <div
    class="relative flex flex-col md:flex-row md:items-end md:justify-between"
  >
    <div class="flex items-center space-x-2">
      {
        link ? (
          <IconRef
            name="vscode-icons:folder-type-github-opened"
            link={link}
            width="40"
          />
        ) : (
          <div class="relative group transition-all ease-in-out hover:scale-105">
          <IconRef name="fluent:folder-prohibited-28-filled" width="25" link="/restricted"/>
          <div class="absolute top-0 left-0 w-44 bg-slate-950 translate-y-10 p-1 rounded-md hidden group-hover:block opacity-85">
            public access restricted
          </div>
          </div>
        )
      }
      <span class="text-3xl">{title}</span>
    </div>
    <span class="text-xl italic">
      {dateRange}
    </span>
  </div>
</div>
