---
import { Image } from "astro:assets";
import PurdueHackers from "@resources/images/PurdueHackers.svg";
---

<div class="mt-10 text-center text-sm">
  Purdue Hackers Webring
  <div class="mt-2 flex items-center justify-between transition-all ease-linear">
    <a href="https://ring.purduehackers.com/previous?host=johnzeng.me">
      <div
        class="block duration-200 hover:-translate-x-1 hover:scale-125 hover:underline"
      >
        ←
      </div>
    </a>
    <a href="https://ring.purduehackers.com" class="hover:underline">
      <Image
        src={PurdueHackers}
        alt="Purdue Hackers"
        width="50"
        class="duration-200 hover:scale-125"
      />
    </a>
    <div
      class="block duration-200 hover:translate-x-1 hover:scale-125 hover:underline"
    >
      <a
        href="https://ring.purduehackers.com/next?host=johnzeng.me"
        class="hover:underline">→</a
      >
    </div>
  </div>
</div>
