---
import ProjectHeader from "./ProjectHeader.astro";
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

interface Props {
  researchProject: CollectionEntry<"researchProject">;
}

const { researchProject } = Astro.props as Props;
const title = researchProject.data.title;
const dateRange = researchProject.data.dateRange;
const { Content } = await render(researchProject);
---

<div class="md:border-b">
    <ProjectHeader title={title} dateRange={dateRange}/>
</div>
<div class="markdown-body mt-5 px-2 md:px-0 side-lines border-x md:border-x-0">
  <Content />
</div>