---
import NavMenu from "../components/NavMenu.astro";
import Hamburger from "../components/Hamburger.astro";

interface Props {
  title: string;
  section: string;
}

const { title, section } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link href="./output.css" rel="stylesheet" />
    <title>{title}</title>
  </head>
  <body class="bg-zinc-900 text-indigo-200">
    <div class="absolute right-0 mr-7 mt-7 block focus:outline-none lg:hidden">
      <Hamburger />
    </div>

    <div
      class="xxl:w-3/4 xxl:translate-x-0 absolute left-1/2 top-10 flex w-4/5 -translate-x-1/2 p-4 transition-all duration-100 ease-in"
    >
      <div
        class="relative left-1/2 ml-5 -translate-x-1/2 transition-all duration-100 ease-in lg:left-0"
      >
        <div class="min-w-44 text-center lg:text-left">
          <div class="text-4xl hover:underline">
            <a href="/">John Zeng</a>
          </div>
        </div>

        <NavMenu section={section} />
      </div>

      <main>
        <div
          class="relative top-24 max-w-3xl -translate-x-1/4 transition-all duration-100 ease-in lg:top-0 lg:-translate-x-0"
        >
          <slot />
        </div>
      </main>
    </div>

    <footer>
      <div class="fixed bottom-0 left-1/2 -translate-x-1/2 p-4 text-center">
        © 2024 John Zeng <a
          href="https://github.com/JLZ22/website"
          class="hyperlink">Source</a
        >
      </div>
    </footer>
  </body>
</html>
