---
import "@styles/global.css";
import NavMenu from "@components/NavMenu.astro";
import Hamburger from "@components/Hamburger.astro";
import PurdueHackersWebring from "@components/PurdueHackersWebring.astro";
import Copyright from "@components/Copyright.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  section: string;
  heading?: string;
}

const { title, section, heading } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="John Zeng's personal website. You can find a short about along with my projects, research, and some for-fun creative work here!"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="flex min-h-screen flex-col overflow-hidden">
    <!-- Hamburger Menu -->
    <div class="block focus:outline-none lg:hidden">
      <Hamburger section={section} />
    </div>
    <div>
      <!-- Main Content -->
      <main class="flex justify-center">
        <div class="max-w w-full lg:bg-inherit xl:w-3/4 xxl:w-full">
          <div class="flex flex-col h-screen justify-center lg:flex-row">
            <!-- Sidebar -->
            <div class="ml-4 min-w-fit pt-10">
              <div class="text-center text-4xl">
                <a href="/">John Zeng</a>
              </div>
              <div class="mr-5 hidden pt-10 lg:block">
                <NavMenu section={section} />
                <PurdueHackersWebring />
              </div>
              <div></div>
            </div>

            <!-- Content including section title -->
            <div
              class="no-scrollbar max-h-screen w-full overflow-y-auto pl-5 pr-2 lg:ml-10 flex flex-col"
            >
              <div
                class="mt-16 text-left underline underline-offset-8 lg:ml-0 lg:text-center lg:no-underline"
              >
                <div class="mb-5 text-3xl">
                  {heading ? heading : section}
                </div>
              </div>
              <div class="grow">

                <slot />
              </div>

              <!-- Footer -->
              <footer class="p-2 mt-10 text-center">
                <Copyright/>
              </footer>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
<style>
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
